[user]
    name = Bucky Schwarz
    email = d.w.schwarz@gmail.com

[color]
    ui = auto

[color "status"]
    added = yellow
    changed = white
    untracked = cyan

[alias]
    st = status
    rpull = pull --rebase origin master

[push]
    default = matching
