[user]
	name = Bucky Schwarz
	email = d.w.schwarz@gmail.com
[core]
	excludesfile = ~/Source/web/galaga/.gitignore

[color]
  ui = auto

[color "status"]
  added = yellow
  changed = white
  untracked = cyan

[alias]
  st = status